.nav {
  height: 80px;
  border-bottom: 1px solid #cfd3d7;
}

.navContent {
  max-width: 1920px;
  margin: auto;
}

.navLogo {
  margin-top: 10px;
  padding-left: 30px;
}

.navLinks {
  float: right;
  display: flex;
}

.navLinks a {
  font-size: 18px;
  padding: 30px;
  text-decoration: none;
  color: grey;
  font-weight: 600;
}

.nav a:hover {
  color: black;
}

.nav a:active {
  color: black;
}